@use "../../styles/colors";

.input {
  padding: 1rem;
  color: colors.$gray-100;
  background: colors.$gray-500;
  border-radius: 8px;
  box-shadow: 0 0 0 1px colors.$gray-700;

  &::placeholder {
    color: colors.$gray-300;
  }
}
