@use "@/styles/colors";

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;

  .icon path {
    transition: fill 0.2s ease-in-out;
  }

  &:hover {
    background: colors.$gray-400;

    .icon path {
      fill: colors.$danger;
    }
  }
}
